{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

    {% for post in posts %}
    <div class="post">
      <div class="grid-post">
        <img class="post-img" src="{{ post.author_photo }}" alt="Profile photo">
        <h2>{{ post.author }}</h2>
      </div>
      <div class="grid-post-body">
        <p>{{ post.title }}</p>
        <p>{{ post.body }}</p>
      </div>
      <hr>
      {% if post.comments %}
      {% for comment in post.comments.all %}
      <div class="grid-comment">
          <img class="comment-img" src="{{ comment.author_photo }}" alt="Profile photo">
          <p>{{ comment.author }}</p>
      </div>
      <div class="grid-comment-body">
        <p>{{ comment.text }}</p>
      </div>
      <hr>
      {% endfor %}
      {% else %}
      <p>No comments yet.</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  {% include "pagination.html" with page=page_obj %}
{% endblock %}