{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
  <link href="https://cdn.jsdelivr.net/npm/lightbox2/dist/css/lightbox.min.css" rel="stylesheet">

  <p style="margin: 20px; padding: 10px;">Sort by:
    <a href="?sort=name">Sort by name</a>|
    <a href="?sort=email">Sort by email</a>|
    <a href="?sort=created">Sort by date (desc)</a>|
    <a href="?sort=created-reverse">Sort by date (ascending)</a>|
  </p>


  {% block extrahead %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  {% endblock extrahead %}

  {% for post in posts %}
  <script>
    $(document).ready(function() {
      $('.add-comment-form').hide();

      $('.add-comment-button').click(function() {
        $(this).closest('.post').find('.add-comment-form').fadeIn();
      });
    });
  </script>
  <div class="post">

    <div class="grid-post">
      <img class="post-img" src="{{ post.author_photo }}" alt="Profile photo">
      <h2 class="post-head">
          <span class="post-author">{{ post.author }}</span>
        {% if datetime.date > post.created.date %}
          <span class="post-date">{{ post.created.date }}</span>
        {% else %}
          <span class="post-time">{{ post.created.time }}</span>
        {% endif %}
        {% if request.user.is_authenticated %}
          <button type="submit" class="add-comment-button">Добавить комментарий</button>
        {% endif %}
      </h2>
    </div>

    <div class="grid-post-body">
      <span class="post-title">{{ post.title }}</span>
      <span class="post-text">{{ post.body }}</span>
    </div>

    <div class="grid-post-body">
      {% if post.files.all %}
        <h3>Files:</h3>
        <ul>
          {% for file in post.files.all %}
            <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="add-comment-form">
      <form id="comment-form-{{ post.id }}" class="comment-form" action="{% url 'add_comment' post.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <div class="form-group">
          <label for="text">Text comment:</label>
          <textarea name="text" id="text" rows="3" required oninvalid="this.setCustomValidity('Enter comment text')"></textarea>
        </div>
        <button type="submit">add comment</button>
      </form>
    </div>

    <hr>

    {% if post.comments %}

      {% for comment in post.comments.all %}
        <script>
          $(document).ready(function() {
            $('.comment-reply-form').hide();

            $('.add-reply-button').click(function() {
              $(this).closest('.comment-base-line').find('.comment-reply-form').fadeIn();
            });
          });
        </script>

          <div class="comment-base-line">
            {% if not comment.parent_comment %}
              <div class="grid-comment">
                
                <img class="comment-img" src="{{ comment.author_photo }}" alt="Profile photo">
                <div class="comment-head">
                  
                  <span class="comment-author">{{ comment.author }}</span>

                  {% if datetime.date > comment.created.date %}
                    <span class="comment-date">{{ comment.created.date }}</span>
                  {% else %}
                    <span class="comment-time">{{ comment.created.time }}</span>
                  {% endif %}

                  {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-sm add-reply-button" data-parent-id="{{ comment.id }}">Reply</button>
                  {% endif %}

                </div>
              </div>
              
              <div class="grid-comment-body">
                <p>{{ comment.text }}</p>
              </div>
            {% else %}
              <div style="width: 90%; float: right;" class="grid-comment">
                  
                <img class="comment-img" src="{{ comment.author_photo }}" alt="Profile photo">
                <div class="comment-head">
                  
                  <span class="comment-author">{{ comment.author }}</span>

                  {% if datetime.date > comment.created.date %}
                    <span class="comment-date">{{ comment.created.date }}</span>
                  {% else %}
                    <span class="comment-time">{{ comment.created.time }}</span>
                  {% endif %}

                  {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-sm add-reply-button" data-parent-id="{{ comment.id }}">Reply</button>
                  {% endif %}

                </div>
              </div>
              
              <div style="width: 80%; float: right;" class="grid-comment-body">
                <p>{{ comment.text }}</p>
              </div>
              
            {% endif %}

            
            <div style="width: 90%; float: right;" class="comment-reply-form">
              <form id="comment-reply-form-{{ comment.id }}" class="comment-form" action="{% url 'reply_comment' comment.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="parent_comment" value="{{ comment.id }}"> 
                <div class="form-group">
                  <label for="text">Comment text:</label>
                  <textarea name="text" id="text" rows="3" required oninvalid="this.setCustomValidity('Enter comment text')"></textarea>
                </div>
                <button type="submit"  class="btn btn-primary">Add Comment</button>
              </form>
            </div>

            <script>
              $(document).ready(function() {
                // Определение обработчика события для кнопки "Ответить"
                $(".add-reply-button").click(function() {
                  // Получение идентификатора родительского комментария
                  var parentCommentId = $(this).data("parent-id");
            
                  // Отображение формы для добавления ответа
                  $("#comment-reply-form-" + parentCommentId).toggle();
                });
              });
            </script>

          </div>
      {% endfor %}
    {% else %}
      <p>No comments yet.</p>
    {% endif %}
  </div>
  {% endfor %}
  </div>

  <div class="pagination">
    <span class="page-number">Page: {{ page_obj.number }}</span>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
      <a class="page-item disabled" href="#">Previous</a>
    {% endif %}
      
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% else %}
      <a class="page-item disabled" href="#">Next</a>
    {% endif %}
    </div>
  
{% endblock %}