@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');



.post-container {
  border: 1px solid black;
  padding: 10px;
}

.post {
  border: 1px solid black;
  padding: 10px;
}

.post-img {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.comment-img {
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.post-author,
.comment-author {
  font-weight: bold;
  margin: 0;
}

.grid-post {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 5px;
  align-items: center;
}

.img-div-p,
.a-div-p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-title {
  margin: 0;
}

.post-body {
  margin: 0;
  padding-top: 10px;
}

.grid-comment {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 10px;
  align-items: center;
}

.text-center {
  text-align: center;
}
