{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="acc" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-input" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-input" required>
        {% if error %}
        <p class="form-error-cont">{{ error }}</p>
        {% endif %}
        <button type="submit" class="form-button">Login</button>
    </form>
{% endblock %}




